# CoinMarketCap API
- In order to manipulate the DataFrames below, you'll need to sign up for your API Key at this link:
 https://pro.coinmarketcap.com/signup/

In [ ]:
your_key_here = input('Enter your unique API Key: ')

In [1]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import pandas as pd

headers ={'Accepts':'application/json','X-CMC_PRO_API_KEY':your_key_here,}

url ='https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {'start':'1','limit':'5000','convert':'USD'}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data_jason = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

### Cryptocurrency Prices sorted by Market Cap

In [2]:
df = pd.DataFrame(data_jason['data'])
df[['cmc_rank','symbol','name','max_supply','circulating_supply','quote']][0:10] #top 10

,cmc_rank,symbol,name,max_supply,circulating_supply,quote
0,1,BTC,Bitcoin,2.100000e+07,1.872594e+07,"{'USD': {'price': 38800.27397194824, 'volume_2..."
1,2,ETH,Ethereum,NaN,1.161437e+08,"{'USD': {'price': 2820.4832707287273, 'volume_..."
2,3,BNB,Binance Coin,1.705328e+08,1.534329e+08,"{'USD': {'price': 421.3226196646319, 'volume_2..."
3,4,USDT,Tether,NaN,6.167094e+10,"{'USD': {'price': 1.00057836637083, 'volume_24..."
4,5,ADA,Cardano,4.500000e+10,3.194831e+10,"{'USD': {'price': 1.82608221024131, 'volume_24..."
5,6,DOGE,Dogecoin,NaN,1.298682e+11,"{'USD': {'price': 0.40038856934823, 'volume_24..."
6,7,XRP,XRP,1.000000e+11,4.615101e+10,"{'USD': {'price': 1.03652196627553, 'volume_24..."
7,8,DOT,Polkadot,NaN,9.447166e+08,"{'USD': {'price': 26.88876887778364, 'volume_2..."
8,9,USDC,USD Coin,NaN,2.284629e+10,"{'USD': {'price': 1.00022788862555, 'volume_24..."
9,10,UNI,Uniswap,1.000000e+09,5.649423e+08,"{'USD': {'price': 28.35121421924549, 'volume_2..."

### List of Fiat Currencies and Symbols

In [3]:
fiat_url ='https://pro-api.coinmarketcap.com/v1/fiat/map'
fiat_params = {}

session = Session()
session.headers.update(headers)

try:
  response = session.get(fiat_url, params=fiat_params)
  data_jason2 = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [4]:
fiat = pd.DataFrame(data_jason2['data'])
fiat.tail()

      id                        name  sign symbol
88  3569  Trinidad and Tobago Dollar     $    TTD
89  3570            Ugandan Shilling    Sh    UGX
90  3571              Uruguayan Peso     $    UYU
91  3572              Uzbekistan Som  so'm    UZS
92  3573           Sovereign Bolivar   Bs.    VES

In [5]:
#Selecting specific currencies
fiat[(fiat['name'] == 'Chinese Yuan') | (fiat['name'] == 'United States Dollar')]

     id                  name sign symbol
0  2781  United States Dollar    $    USD
6  2787          Chinese Yuan    ¥    CNY

In [6]:
#Unique currency symbols
fiat.sign.unique()

array(['$', 'R$', 'Fr', '¥', 'Kč', 'kr', '€', '£', 'Ft', 'Rp', '₪', '₹',
       '₩', 'RM', '₱', '₨', 'zł', '₽', 'S$', '฿', '₺', 'NT$', 'R', 'د.إ',
       'лв', 'kn', 'lei', '₦', 'S/.', '₫', '₴', 'Bs.', 'L', '֏', '₼',
       'KM', '৳', '.د.ب', 'Br', '₡', 'د.ج', '₾', '₵', 'Q', 'ع.د', '﷼',
       'د.ا', 'Sh', 'с', '៛', 'د.ك', '₸', 'ل.ل', 'Rs', 'د.م.', 'ден',
       'Ks', '₮', 'C$', 'ر.ع.', 'B/.', 'ر.ق', 'дин.', 'ر.س', 'د.ت',
       "so'm"], dtype=object)